@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #fece51;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        }

        button:hover {
          opacity: 90%;
          transition: all 0.4s ease;
          transform: scale(1.05);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        button{
          width: 100px;
          background-color: teal;
          border: none;
          color: white;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          margin-left: 4px;
        }

        button:hover {
          opacity: 90%;
          transition: all 0.4s ease;
          transform: scale(1.05);
        }

        .clickable-avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          transition: transform 0.4s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    position: relative;
    background: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);

    .modal-image {
      border-radius: 10px;
      width: 300px;
      height: auto;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #ef4444;
      color: white;
      font-size: 20px;
      font-weight: bold;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
